<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1">
	<var name="clientsApiUri" expr="'http://voicekey.herokuapp.com/clients.json'"/>
	<var name="enrollApiUri" expr="'http://voicekey.speechpro.com/avis/vk_api2/enroll.php?apikey=stc'"/>
	<var name="verifyApiUri" expr="'http://voicekey.speechpro.com/avis/vk_api2/enroll_verify.php?apikey=stc'"/>

 <var name="cardId"/>
 <var name="ani" expr="session.connection.remote.uri" />
</vxml>